<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GovInfo System{% endblock %}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}"  media="all">
</head>
<body>
  
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">GovInfo</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item layui-hide-xs"><a href="">Dashboard</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">System Menu</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">Menu 1</a></dd>
            <dd><a href="javascript:;">Menu 2</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <div style="padding: 15px;">
      {% block content %}{% endblock %}
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- Bottom fixed area -->
    © GovInfo System
  </div>
</div>
 
<script src="{{ url_for('static', filename='layui/layui.js') }}" charset="utf-8"></script>
<script>
//JavaScript implementation
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;
  
});
</script>
</body>
</html>
